#all{
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 75px 350px;
}

#title{
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: center;
  background-color: #8C1515;
  color: white;
}

#main_table{
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: #D2C295;
  border-right: 1px solid black;
}

#search_space{
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: #D2C295;
}

#top_row{
  background-color: #333333;
  color: white;
}

#table_tuit th{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

#table_tuit td{
  padding: 5px;
}

#search_table th{
  padding: 7px;
}

.white{
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.gray{
  background-color: #CCCCCC;
  border: 1px solid black;
  text-align: center;
}

#search_title{
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 10px;
}

#search_criteria{
  padding: 5px;
  text-align: center;
}

#leave_blank{
  font-size: 8pt;
}
