* {
  font-family: sans-serif;
}

#all {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 100px 165px 270px 140px 140px;
}

#titlebar{
  color: #8c1515;
  padding: 5px;
  grid-row: 1/2;
  grid-column: 1/5;
  margin-bottom: 5px;
  text-align: center;
}

#block_1{
  grid-row: 2/3;
  grid-column: 1/2;
  color: #2e2d29;
}

#block_2{
  grid-row: 3/4;
  grid-column: 1/2;
  color: #2e2d29;
}

#block_3{
  grid-row: 4/5;
  grid-column: 1/2;
  color: #2e2d29;
}

#block_4{
  grid-row: 5/6;
  grid-column: 1/2;
  color: #2e2d29;
}

#block_5{
  grid-row: 2/3;
  grid-column: 2/3;
  color: #2e2d29;
}

.block_title{
  background-color: #8c1515;
  color: white;
  font-size: 16pt;
  padding: 5px;
  margin-right: 10px;
}

.block_form{
  padding: 5px;
  border: 1px solid black;
  margin-right: 10px;
}

.selection_value{
}

select{
  padding: 5px;
}

td{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
}

ul{
  padding-bottom: 0px;
  margin: 0px;
}
